#main-header {
  position: relative;
  z-index: 1;
  font-family: "FuturaPT Demi";
  background: #000;
  height: 100px;
  position: relative;
  z-index: 99;
  background: $primaryDark;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .icon{
    display: none;
  }
  .logo-menu{
    img{
      width: 200px;
    }
  }
  #main-menu {
    ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      height: 100%;
      li {
        &:first-child{
          display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  #main-social {
    display: flex;
    list-style: none;
    flex-direction: row;
    ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      height: 100%;
      list-style: none;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        a {
          img {
          }
        }
      }
    }
  }
}
