#main-portfolio {
  margin-top: 100px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .ver-todos,
    .ver-todos:hover {
      text-align: right;
      margin-top: $basemargin * 2;
    }
  }
  .masonry {
    display: flex;
    width: 100%;
  }
  .masonry--h {
    flex-flow: row wrap;
  }
  .masonry--h,
  .masonry--v {
    margin-left: 0px;
    counter-reset: brick;
  }
  .masonry-brick {
    overflow: hidden;
    border-radius: 0px;
    margin: 0 0 0px 0px;
    background-color: #333;
    color: white;
    position: relative;
  }
  .masonry-brick--h {
    flex: auto;
    height: 250px;
    min-width: 150px;
  }
  .masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  .masonry-content{
    color: $white;
  }
  .masonry-link{
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .masonry-link-title{
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  .masonry-link-excerpt{
    display: block;
    margin-bottom: 10px;
    color: #ccc;
  }
  .masonry-link-ver-mais{
    font-weight: bold;
  }
}

.basicLightbox .basicLightbox__placeholder {
  color: #FFF;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 80vw;
  iframe{
    width: 50vw;
    height: 80vh;
  }
  .modal-portfolio{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .modal-portfolio-title{
    font-weight: bold;
    display: block;
  }
  .modal-portfolio-desc{
    display: block;
    margin-bottom: 10px;
  }
  .modal-portfolio-link{
    display: block;
    color: #FFF;
    font-weight: bold;
  }
}

.basicLightbox:after {
  content: "";
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  width: 2em;
  height: 2em;
  background: url(/wp-content/themes/canoafilmes/assets/img/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
