#main-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  #container-sobre {
    background-image: url(../img/logo-canoa-filmes-sobre.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sobre-text {
    width: 60%;
    color: $dark;
    font-size: $fontSizeText;
    a {
      color: $dark;
      margin-top: $basemargin;
    }
  }
}
