@media only screen and (min-width: 1024px) {
  .masonry-brick--h:nth-child(4n + 1) {
    width: 250px;
  }
  .masonry-brick--h:nth-child(4n + 2) {
    width: 325px;
  }
}

@media screen and (max-width: 1000px) {
  #main-footer {
    margin-top: $basemargin;
    .footer-logo {
      max-width: 100%;
      .logo {
        width: 95%;
      }
      svg {
        max-width: 95%;
      }
    }
  }
  #menu-categories {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 860px) {
  .basicLightbox .basicLightbox__placeholder {
    color: #FFF;
    display: flex;
    flex-direction: column;
    iframe{
      width: auto;
      height: auto;
    }
    .modal-portfolio{
      padding: 0 20px;
    }
    .modal-portfolio-title{
      font-weight: bold;
      display: block;
    }
    .modal-portfolio-desc{
      display: block;
      margin-bottom: 10px;
    }
    .modal-portfolio-link{
      display: block;
      color: #FFF;
      font-weight: bold;
    }
  }
  #main-header {
    .icon{
      display: block;
      color: #fff;
      font-size: 30px;
    }
    .logo-menu{
      margin-top: 20px;
      width: 50%;
      img{
        width: 100%;
      }
    }
    #main-social.hidden-menu, #main-menu.hidden-menu{
      display: none;
    }
    height: auto;
    .container {
      flex-direction: column;
      align-items: center;
    }
    #main-menu{
      width: 100%;
      ul {
        flex-direction: column;
        li{
          &:first-child{
            display: flex;
          }
          margin-right: 0px;
        }
      }
    } 
    #main-social {
      width: 100%;
      justify-content: center;
      ul{
        li:last-child{
            margin-right: 0px;
          }
        }
      svg {
        width: 30px;
      }
    }
  }
  
  #main-sobre #container-sobre {
    background: none;
  }
  #main-sobre .sobre-text {
    width: 100%;
  }
  #main-contato .social-contatos {
    padding-left: 0px;
  }
  #main-contato .social-contatos ul {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #main-contato .social-contatos {
    flex-direction: column;
  }
  #main-contato .social-contatos .mapa {
    margin-bottom: 20px;
  }
  #main-contato .sub-contato {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  body.page,
  body.single,
  body.archive {
    #main-banner {
      .item {
        height: 40vh;
        background-size: 100%;
      }
      #main-breadcrumbs {
        width: 100%;
        margin: 0px;
        .breadcrumbs {
          margin-top: 0px;
          span{
            font-size: 10px;
          }
          h1{
            font-size: 20px;
          }
        }
      }
    }
  }
  body #main-banner .item,
  body.home #main-banner .item {
    height: 50vh;
  }
  body.page-id-42 {
    #page-container {
      .container {
        flex-direction: column;
      }
      #main-pontos-fortes {
        width: 100%;
      }
      #main-equipe {
        width: 100%;
      }
    }
  }
}

