@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "FuturaPT Demi";
  src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}

@font-face {
  font-family: "FuturaPT Heavy";
  src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
}

Ul,li{
  margin: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a,
a:hover {
  color: $dark;
  text-decoration: none;
}
input,
button {
  outline: none;
}

.container {
  max-width: 1200px;
}

.title-site {
  font-weight: bold;
  font-family: "FuturaPT Heavy";
  font-size: 40px;
  color: $dark;
}

.ver-todos,
.ver-todos:hover {
  color: $dark;
  font-size: $fontSizeText;
}
html {
}
body {
  background-color: #eff4f4;
}
